<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Menu</li>

                <li>
                    <a href="/admin">
                        <i class="fe-airplay"></i>
                        @*<span class="badge badge-success badge-pill float-right">2</span>*@
                        <span> Trang chủ </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fas fa-cog"></i>
                        <span> Hệ thống </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/admin/usergroup">Nhóm người dùng</a></li>
                        <li><a href="/admin/user">Người dùng</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fas fa-newspaper"></i>
                        <span> Tin tức </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/admin/category">Danh mục</a></li>
                        <li><a href="/admin/content">Tin tức</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fas fa-box"></i>
                        <span> Sản phẩm </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/admin/productcategory">Danh mục</a></li>
                        <li><a href="/admin/product">Sản phẩm</a></li>
                    </ul>
                </li>

                <li class="menu-title">Apps</li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fas fa-list"></i>
                        <span> Quản lý chung </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="email-inbox.html">Giới thiệu</a></li>
                        <li><a href="email-read.html">Footer</a></li>
                        <li><a href="email-compose.html">Menu</a></li>
                        <li><a href="email-compose.html">Slide</a></li>
                        <li><a href="email-compose.html">Phản hồi</a></li>
                    </ul>
                </li>

                @*<li>
                        <a href="todo.html">
                            <i class="fe-layers"></i>
                            <span> Todo </span>
                        </a>
                    </li>*@
            </ul>
        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->