@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tags = (List<Model.EntityFramework.Tag>)ViewBag.Tags;
}
@model Model.EntityFramework.Content

<div class="content">
    <div class="content_top">
        <div class="heading">
            @*Tên danh mục*@
            <h3>@Model.Name</h3>
        </div>

        <div class="clear"></div>
    </div>

    <div class="section-group">
        @Html.Raw(Model.Detail)
        <ul>

            @foreach (var tag in tags)
            {
                <li><a href="/tag/@tag.ID">@tag.Name</a></li>
            }
        </ul>
    </div>
</div>